.start, .question, .result{
padding: 20px;

/* display: flex; */
justify-content: center;
}

button{
    border: 0;
    padding: 10px;
    background-color: antiquewhite;

}
button:hover{
    padding: 11x;
    cursor: pointer;
    font-size: 50%;
    font-weight: bold;
    
}

input{
    border: none;
    padding: 10px;
    cursor: pointer;

}

span{
    color: rgb(226, 44, 44);
}

.container{
    background-color: blueviolet;
    /* justify-content: center; */
    /* align-items: center; */
    max-width: 800px;
    min-height: 450px;
padding: 40px;
    border-radius: 20px;
    text-align: center;
    color: aqua;
}

.app{
    width: 50%;
    margin: auto;
}

.options{
    display: block;
    padding: 10px;
    
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}